<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<h2>Sign In</h2>

<p>
    Please enter your username and password to login.
</p>

<p th:if="${param.error}" style="color:red">
    Invalid username and password.
</p>
<p th:if="${param.logout}" style="color: green">
    You have been logged out.
</p>

<form method="post" id="loginForm" th:action="@{/login}">
    <input type="text" name="username" id="username" placeholder="Username" required="true" autofocus="true"/>
    <input type="password" name="password" id="password" placeholder="Password" required="true"/>

    <div>
        <input type="checkbox" name="remember-me" id="remember-me"/>
        <label for="remember-me">Remember me</label>
    </div>

    <input type="submit" name="login" id="login" value="Login"/>
</form>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    var loginFailed = function (data, status) {
        console.log('failed: ' + JSON.stringify(data));
        $(".error").remove();
        $('#username').before('<p style="color: red" class="error">Login failed, please try again.</p>');
    };
    $("#login").on('click', function (e) {
        e.preventDefault();
        $.ajax({
            url: "/api/login",
            type: "GET",
            beforeSend: function (xhr) {
                var basic = btoa($("#username").val() + ":" + $("#password").val())
                xhr.withCredentials = true;
                xhr.setRequestHeader ("Authorization", "Basic " + basic);
            },
            success: function (data, status) {
                console.log(data)
                if (data.loggedIn) {
                    // success
                    location.href = '/api/health';
                } else {
                    loginFailed(data);
                }
            },
            error: loginFailed
        });
    });

    </script>
</body>
</html>
